////////////////////////////////////////////////////////////
///////////////////////////////////////////////////// COLORS
////////////////////////////////////////////////////////////
$colorSteelBlue: #43697a;
$colorBurntOrange: #FF6347;
$colorWhite: #FFF;
$colorFogGray: rgba(50, 50, 50, 0.5);
$colorDeepFogGray: rgba(40, 40, 40, 0.9);
$colorLightGray: #DDD;
$colorStoneGray: #AAA;
$colorMidnightGray: #444;
$colorBlack: #000;

////////////////////////////////////////////////////////////
////////////////////////////////////////////////////// FONTS
////////////////////////////////////////////////////////////
$fontTitillium: 'Titillium Web', sans-serif;
$fontSigmarOne: 'Sigmar One', cursive;
$fontAstigmatic: 'Astigmatic', serif;
$fontIMFellDWPica: 'IM Fell DW Pica', sans-serif;
$fontPodkova: 'Podkova', sans-serif;

////////////////////////////////////////////////////////////
//////////////////////////////////////////////////// STYLING
////////////////////////////////////////////////////////////
$backgroundPaperTexture: url('http://api.thumbr.it/whitenoise-1000x1000.png?background=ebebebff&noise=626262&density=36&opacity=13');