////////////////////////////////////////////////////////////
///////////////////////////////////////////////////// COLORS
////////////////////////////////////////////////////////////
$colorSteelBlue: #43697a;
$colorBurntOrange: #FF6347;
$colorWhite: #FFF;
$colorFogGray: rgba(50, 50, 50, 0.5);
$colorDeepFogGray: rgba(20, 20, 20, 0.75);
$colorLightGray: #DDD;
$colorStoneGray: #AAA;
$colorMidnightGray: #444;
$colorBlack: #000;

////////////////////////////////////////////////////////////
////////////////////////////////////////////////////// FONTS
////////////////////////////////////////////////////////////
$fontIMFellDWPica: 'IM Fell DW Pica', sans-serif;
$fontPodkova: 'Podkova', sans-serif;
$fontDroidSans: 'Droid Sans', sans-serif;
$fontOswald: 'Oswald', sans-serif;

////////////////////////////////////////////////////////////
//////////////////////////////////////////////////// STYLING
////////////////////////////////////////////////////////////
$backgroundPaperTexture: url('/portfolio/images/natural_paper.png');