////////////////////////////////////////////////////////////
/////////////////////////////////////////////////// PARTIALS
////////////////////////////////////////////////////////////
@import 'variables';

////////////////////////////////////////////////////////////
////////////////////////////// BOOTSTRAP AND WEBAPP DEFAULTS
////////////////////////////////////////////////////////////
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    background: $colorStoneGray;
    color: $colorBlack;
    margin: 0.2em 0;
    padding: 0.2em 0;
}

////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////// TAGS
////////////////////////////////////////////////////////////
body {
    padding-bottom: 20px;
    padding-top: 20px;
}

h1 {
    color: $colorWhite;
    font-family: $fontIMFellDWPica;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 30px;

    &.font-black {
        color: $colorBlack;
    }
}

h2 {
    color: $colorWhite;
    font-family: $fontIMFellDWPica;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 19px;
}

h3 {
    color: $colorBlack;
    font-family: $fontIMFellDWPica;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 19px;

    &.font-white {
        color: $colorWhite;
    }
}

h5 {
    color: $colorBlack;
    font-family: $fontIMFellDWPica;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 19px;
}

p {
    color: $colorBlack;
    font-family: $fontPodkova;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 19px;
}

////////////////////////////////////////////////////////////
///////////////////////////////////////////////////// HEADER
////////////////////////////////////////////////////////////
.header {
    position: static;
}

.dynamic-header {
    background-color: $colorBlack;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    height: 46px;
    left: 10px;
    opacity: 0.9;
    position: fixed;
    padding-left: 13px;
    padding-top: 2px;
    top: 0px;
    width: 500px;
}

.nav a {
    color: $colorBlack;
    font-family: $fontIMFellDWPica;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 22px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 19px;

    &.font-white {
        color: $colorWhite;
    }

    &:hover {
        cursor: pointer;
    }
}

////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////// BODY
////////////////////////////////////////////////////////////
.home-banner {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.section {
    background-image: $backgroundPaperTexture;
    left: 0px;
    min-height: 200px;
    padding: 50px 80px 20px 80px;
    right: 0px;
    text-align: center;
}

.first-section {
    margin-top: 250px;
}

.section-break-photo {
    height: 300px;
    padding: 0px;
    width: 100%;
}

.headline {
    background-color: $colorDeepFogGray;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 80px;
    max-width: 800px;
    min-height: 300px;
    padding-top: 80px;
    text-align: center;
}

.project-preview {
    background-color: $colorFogGray;
    display: inline-block;
    height: 300px;
    margin: 20px;
    padding: 20px;
    width: 300px;

    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}

.project-detail {
    background-color: $colorMidnightGray;
    border-radius: 6px;
    display: none;
    height: 80%;
    margin: 0 auto;
    overflow: auto;
    position: fixed;
    text-align: center;
    top: 10%;
    width: 80%;
    z-index: 1001;
}

.project-detail-photo-desktop {
    padding: 20px;
    width: 50%;
}

.project-detail-photo-mobile {
    height: 70%;
    padding: 20px;
}

.close-button {
    background: url('../images/close-button.png');
    height: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.project-detail-backdrop {
    background-color: $colorWhite;
    bottom: 0px;
    display: none;
    left: 0px;
    opacity: 0.8;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1001;
}

.social-media-link {
    color: $colorMidnightGray;
    padding: 20px;

    &:hover {
        -webkit-animation: float 1.5s ease-out infinite;
        -moz-animation: float 1.5s ease-out infinite;
        -ms-animation: float 1.5s ease-out infinite;
        -o-animation: float 1.5s ease-out infinite;
        animation: float 1.5s ease-out infinite;
    }
}

@-webkit-keyframes float {
    50% {
        -webkit-transform: translate(0px, 8px);
        -moz-transform: translate(0px, 8px);
        -ms-transform: translate(0px, 8px);
        -o-transform: translate(0px, 8px);
        transform: translate(0px, 8px);
    }
}

////////////////////////////////////////////////////////////
///////////////////////////////////////////////////// FOOTER
////////////////////////////////////////////////////////////
.footer {
    border-top: 1px solid $colorStoneGray;
    color: $colorWhite;
    margin-top: 40px;
    padding-top: 19px;
}