////////////////////////////////////////////////////////////
/////////////////////////////////////////////////// PARTIALS
////////////////////////////////////////////////////////////
@import 'variables';

////////////////////////////////////////////////////////////
////////////////////////////// BOOTSTRAP AND WEBAPP DEFAULTS
////////////////////////////////////////////////////////////
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: $colorStoneGray;
    color: $colorBlack;
    padding: 0.2em 0;
}

////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////// TAGS
////////////////////////////////////////////////////////////
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: url('../images/downtown_invert.png') no-repeat;
    background-size: 100%;
}

h3 {
    font-family: $fontTitillium;
    font-style: normal;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

////////////////////////////////////////////////////////////
///////////////////////////////////////////////// CONTAINERS
////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////
///////////////////////////////////////////////////// FOOTER
////////////////////////////////////////////////////////////
.section {
    right: 0px;
    left: 0px;
    height: 300px;
    background-color: $colorBurntOrange;
}

.first-section {
    margin-top: 400px;
}

.headline {
    max-width: 800px;
    margin: 0 auto;
    min-height: 200px;
    background-color: $colorStoneGray;
}

.footer {
    padding-top: 19px;
    color: $colorWhite;
    border-top: 1px solid $colorStoneGray;
}